<h1>
  Forgot Password Form
</h1>

<form action="/users/forgot-password-action" method="POST">
  <div>
    <div>
      <label>Email</label>
      <input type="email" name="email" placeholder="Email" required />
    </div>
  </div>

  <div>
    <div>
      <button type="submit">Send Mail</button>
    </div>
  </div>
</form>
