<h1>
  Password Reset Form
</h1>
<%if(locals.user){%>
<form action="/users/reset-password-signed-in" method="POST">
  <div>
    <div>
      <label>Password</label>
      <input type="password" name="password" placeholder="Password" required />
    </div>
  </div>
  <div>
    <div>
      <label>Confirm Password</label>
      <input
        type="password"
        name="confirm_password"
        placeholder="Confirm password"
        required
      />
    </div>
  </div>
  <div>
    <div>
      <button type="submit">Reset My Password</button>
    </div>
  </div>
</form>
<%}else{%>
<form action="/users/reset-password-action/<%= token%>" method="POST">
  <div>
    <div>
      <label>Password</label>
      <input type="password" name="password" placeholder="password" required />
    </div>
  </div>
  <div>
    <div>
      <label>Confirm Password</label>
      <input
        type="password"
        name="confirm_password"
        placeholder="Confirm password"
        required
      />
    </div>
  </div>
  <div>
    <div>
      <button type="submit">Reset Password</button>
    </div>
  </div>
</form>
<%}%>
